@import "tailwindcss";

/* Only set full height – don't force overflow: hidden */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* optional – prevents horizontal scroll only */
}
html {
  transition: filter 0.3s ease-in-out;
}


/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes scroll-vertically {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-vertical-scroll {
  animation: scroll-vertically 60s linear infinite;
}

.group:hover .animate-vertical-scroll {
  animation-play-state: paused;
}

